<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <!--Main content-->
    <h1><%= title %></h1>
    <p>Welcome to Assignment tracker application!</p>
    <br>
    <h2> On this Application you can track your assignments, descriptions and also the due dates.</h2>
    <br>
    <p>Through the use of this Application, one can efficiently make sure they have their own personal school agenda.</p>
    <br>
<%- include Partials/footer.ejs%>